/* remove all styling from links by default */
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: aliceblue;
    font-weight: bold;
}
/* give a standard height for section divs */

.section{
    height: 50vh;
    background: white;
    width: 100%;
}

.section img{
    width: 8rem;
    height: 6rem;
}