body,
html {
  /* remove default padding and margin */
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
}

/* ================================================================ */
/*                          First/Title section */
/* ================================================================ */

.title {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/landingBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/*  The title from the first section ----------------- */
.heading {
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  text-align: center;
}
.title-top {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
}
.title-bottom {
  font-family: "Ephesis", cursive;
  font-size: 5rem;
}

/* The sign-in prompt button from the first section */

.landingSignIn {
  color: white;
  position: absolute;
  top: 28rem;
  left: 35%;
  /* margin-top: 3rem; */
  /* box-shadow: 0 0 8px 1px white; */
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0.2rem 2.5rem;
  font-family: "Ephesis", cursive;
  font-size: 2rem;
}
.landingSignIn:hover {
  color: black;
  background: white;
  box-shadow: 0 0 10px 2px white;
  transition: all 1s;
}
/* ================================================================ */
/*                          Second section */
/* ================================================================ */

.second .col{
   padding: 2rem;
}